<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/addCategory">add New Category</button>
    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table id="categories" mat-table [dataSource]="categories">
      <ng-container matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef>Category Name</th>   
        <td mat-cell *matCellDef ="let category" >{{category.categoryName}}</td> 
      </ng-container>
      <ng-container matColumnDef="Actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>   
          <td mat-cell *matCellDef ="let category" >
              <button mat-button color="primary" (click)="editCategory(category._id)">edit</button>
              <button mat-button color="warn" (click)="deleteCategory(category._id)">delete</button>
          </td> 
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColounms"></tr>
      <tr mat-row *matRowDef="let row; columns:displayedColounms;"></tr>
      
     
    </table>
  </mat-card>
</div>